<tr id="<%= dom_id response %>">
  <td><%= response.user.first_name %> <%= response.user.last_name %></td>
  <td><%= response.review.id%></td>
  <td><%= response.comment %></td>
  <td>
    <%= link_to "Delete", response, data: { turbo_method: :delete, confirm: "Are you sure you want to delete this response?" }, class: "btn btn-sm btn-danger" %>
  </td>
</tr>
