<div id="<%= dom_id reservation %>">
  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= reservation.room_id %>
  </p>

  <p>
    <strong>Check in date:</strong>
    <%= reservation.check_in_date %>
  </p>

  <p>
    <strong>Check out date:</strong>
    <%= reservation.check_out_date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

</div>
