<%= form_with(model: bed, local: true, class: "needs-validation") do |form| %>
  <% if bed.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h4 class="alert-heading"><%= pluralize(bed.errors.count, "error") %> prohibited this bed from being saved:</h4>
      <ul>
        <% bed.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>
  <div class="mb-3">
    <%= form.label :capacity, class: "form-label" %>
    <%= form.number_field :capacity, class: "form-control", required: true %>
  </div>
  <div class="d-grid">
    <%= form.submit "Save Bed", class: "btn btn-primary" %>
  </div>
<% end %>
