<tr id="<%= dom_id review %>">
  <td><%= review.id %></td>
  <td><%= truncate(review.user.full_name, length: 25) %></td>
  <td><%= review.reservation.room.name %></td>
  <td><%= review.rating %> / 5</td>
  <td><%= truncate(review.comment, length: 30) %></td>
  <td><%= review.display ? "Yes" : "No" %></td>
  <td>
    <% if review.response.nil? %>
      <%= link_to 'Respond', new_review_response_path(review), class: 'btn btn-sm btn-primary' %>
    <% end %>
    <%= link_to 'Edit', edit_review_path(review), class: 'btn btn-sm btn-secondary' %>
    <%= link_to 'Delete', review_path(review), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
  </td>
</tr>