<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Hotel Hub" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <!-- Load CSS -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.5/css/dataTables.dataTables.min.css">
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/2.1.5/js/dataTables.min.js"></script>
    <!-- Flatpickr CSS and JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <!-- Import Map -->
    <%= javascript_importmap_tags %>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <%= render "layouts/partials/header" %>
    <div class="container container-main flex-grow-1">
      <!-- Flash Messages -->
      <div class="position-relative">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show position-fixed" style="top: 20px; right: 20px; z-index: 1050;">
            <%= value %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      </div>
      <!-- Main Content -->
      <%= yield %>
    </div>
    <%= render "layouts/partials/footer" %>
  </body>
</html>
